.TopHead {
  font-size: 30px;
  margin: 10px 0;
}

.intro {
  display: flex;
  border-bottom: 1.5px solid #023620;
  justify-content: space-between;
}
.group {
  height: 400px;
  padding: 5px;
  margin: 40px 0;
  border-radius: 50px;
}

.what {
  margin: 40px auto;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.what2 {
  border-bottom: 1.5px solid #023620;
  margin: 40px 0;
}

.question {
  font-size: 25px;
}
.further {
  font-size: 15px;
  margin: 20px 0;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.member {
  margin: 5px 0;
}

.mm {
  height: 250px;
  width: 220px;
}
.position {
  font-size: 12px;
  font-style: italic;
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .group {
    height: 210px;
  }
  .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .what {
    width: 90%;
  }
  .member {
    padding: 5px;
  }
}
@media screen and (max-width: 500px) {
  .group {
    height: 200px;
  }
  .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .what {
    width: 90%;
  }
  .member {
    padding: 5px;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
  .group {
    height: 350px;
    margin: 10px 50px;
  }
  .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .what {
    width: 80%;
  }
  .member {
    padding: 5px;
  }
}

@media screen and (max-width: 499px) {
  .intro {
    display: flex;
    flex-direction: column;
  }
  .group {
    height: 220px;
  }
  .team {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .what {
    width: 80%;
  }
  .member {
    padding: 5px;
  }
  .mm {
    height: 200px;
  }
}
